/*estilos barra de navegación*/


.containerCarousel {
  width: 90%;
  background-color: #1D3C5E;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  margin-bottom: 10%;
  border-radius: 52px;
  font-family: 'Josefin Sans';
  text-align: center;
}

.slide {

  margin-top: 10px;
  margin-bottom: 10px;
}

.slide img {
  height: 65vh;

}


body {
  background-image: url("../imgs/background.jpg");
  background-size: cover;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: -10%;
  background-color: rgba(0, 0, 0, 0.5); /* el modificar este ultimo valor de rgba modifica la opacidad */
  z-index: -1;
}


.nameDeveloper {
  color: white;
}

.imageTextContainer {
  color: white;

}


.imageTextContainer {

  display: block;
  justify-content: justify;
  align-items: center;


}

.imageTextContainer p {
  background-color: #4A6787;
  border-radius: 52px;
  border: 25px solid #4A6787;
  box-sizing: border-box
}


.imageContainer {
  max-width: 100%;
  height: auto;
  overflow: hidden;
  padding: 20px;
  margin: auto;
}


.imageContainer img {

  height: auto;
  display: block;
  object-position: center;
  max-height: 50%;
  max-width: 50%;
  margin: auto;
}

.imageTextContainer {
  width: 100%;
  padding: 6%;
}

.imageTextContainer p {
  max-height: 100%;
  max-width: 100%;

}


.imageTextContainer a {
  color: white;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: auto;
  background-color: #1D3C5E;
  text-align: center;
  display: block;
  padding: 10px;
  z-index: 2;
}

.footer a {
  text-decoration: none;
  color: white;
  font-family: 'Josefin Sans';
  font-weight: bold;


}

.carousel-control-next-icon {
  margin-left: 90px;
}

.carousel-control-prev-icon {
  margin-right: 90px;
}

.nameDeveloper {
  padding-top: 10px;
}


.carousel .carousel-indicators button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

@media(max-width: 480px) {
  .imageTextContainer {
    font-size: small
  }

}

p{
  font-size: large;
  font-weight:bolder;
}
.nameDeveloper p {
  margin-top: 2%;
  font-size: larger;
}