/* Estilo navbar */

.navbar-light {
    background-color: #1D3C5E;
    font-family: 'Josefin Sans', sans-serif;
  }
  
  .navbar-brand {
    color: white;
    font-weight: 600;
  }
  
  .nav-link {
    color: white;
    font-weight: 400;
  }
  
  #linkNavegación {
    font-weight: 100;
  }
  
  .navbar-light .navbar-toggler-icon {
    filter: invert(100%);
  }