 /* Estilo navbar */
      
 .navbar-light {
    background-color: #1D3C5E;
    font-family: 'Josefin Sans', sans-serif;
  }
  
  .navbar-brand {
    color: white;
    font-weight: 600;
  }
  
  .nav-link {
    color: white;
    font-weight: 400;
  }
  
  #linkNavegación {
    font-weight: 100;
  }
  
  .navbar-light .navbar-toggler-icon {
    filter: invert(100%);
  }
  @include media-breakpoint-up(sm) {
    html {
      font-size: 1.2rem;
    }
  }


 
  .navbar-text, .navbar-brand, .nav-link, #homeText{

    font-family: 'Josefin Sans';
    font-weight: bold;
    color: white;
  }



  
  footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height:auto;
    background-color: #1D3C5E;
    text-align: center;
    display:block;
    padding:10px;
  }

  .footer a{
    text-decoration: none;
    color: white;
    font-family: 'Josefin Sans';
    font-weight: bold;
    
    
  }
  

  