
/*Estilos del carousel*/

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex
}

@media (min-width: 768px) {

    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(25%)
    }

    .carousel-inner .carousel-item-start.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-25%)
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
    transform: translateX(0)
}

.containerCarouselPaginaPrincipal{
    margin-top: 5%;
}


/*Estilos del body y del container general(carousels & actividad reciente)*/
body{
    background-color:#0D1925 ;
}

.containerGeneral{
    font-family: 'Josefin Sans';
    font-weight: bold;
    color: white;
}

/* estilos del container del carousel de las novedades*/
.containerCarouselPaginaPrincipal{
    margin-top:10%;
}

/*estilos container del carousel de la biblioteca*/
.containerCarouselBiblioteca{
    margin:5%;
}


/*estilos container superior de actividad reciente*/

.containerActividadReciente{
    margin:5%
}
/*estilos de las cajas de actividad reciente*/

.containerBoxesActividadReciente{
    margin-left: 5%;
    margin-right: 5%;
}
.box{
    background-color: #1D3C5E;
    padding: 2%;
    border-radius: 21px;
    margin: 3%;
    text-align: justify;
}
.redondearImgBox{
    border-radius: 50px;
}
