/* Estilo de fondo de la página */
body {
  background-color: #0D1925;
  /* background: linear-gradient(45deg, rgb(9, 62, 119), rgb(9, 2, 38)); */
  /* background: linear-gradient(to top, #09203f 0%, #537895 100%); */
  background-image: url("../imgs/123.jpg");
    background-size: cover;
}




/* Estilo Fila primaria */
.containerPerfil {
  width: 90%;
 
    /* background-color:#1D3C5E; */
    background: linear-gradient(to top, #09203f 0%, #537895 100%);
    /* background-image: url("../imgs/123.jpg");
    background-size: cover; */
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 13%;
    margin-bottom: 5%;
    border-radius: 52px;
    font-family: 'Josefin Sans';
    text-align: center;

}


.imageContainer {
  display:block;
    justify-content:center;
    align-items: center;
    max-width: 100%;
    height:auto;
    overflow: hidden;
    padding: 20px;
    margin:10%;
    object-fit: contain;
}
.imageContainer img{
    
  height:auto;
  display:block;
  object-position: center;
  max-height:60%;
  max-width: 60%;
  margin: auto;
  
}



/*Boton camara*/
#imagenCambiar{
  float: left;
  width: 10%;
   
}

/* Texto de contenedor perfil*/
.imageTextContainer{
  width:100%;
  padding: 15%;

}


/* Estilo Fila secundaria */
.contenidoBiblioteca {
  /* background-color: #1D3C5E; */
  background: linear-gradient(to top, #09203f 0%, #537895 100%);
  
  border-radius: 20px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  
  margin-bottom: 30%;
  padding: 45px;

}

#containerTarjetas {
  text-align: center;
  /* Centra horizontalmente el contenido */
}


.card {
  max-width: 100%;
  margin-top: 15px;
}

@media (min-width: 410px) {
  .card {
    max-width: 40%;
  }

}


.contenidoReseña {
  /* background-color: #1D3C5E; */
  background: linear-gradient(to top, #09203f 0%, #537895 100%);
  border-radius: 20px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30%;
  padding: 45px;
 
  
}

/*Estilo para letras */
p {
  font-family: 'Josefin Sans';
  color: aliceblue;
}

h1 {
  font-family: 'Josefin Sans';
    font-size:50px ;
    color: aliceblue;
    text-align: center;
    text-shadow: 5px 5px 10px #97bdde;
  
}


span{
  font-family: 'Josefin Sans';
  color: aliceblue;
  text-align: justify;
  font-size:32px ;
}








/* Estilo de pie de página
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: auto;
  background-color: #1D3C5E;
  text-align: center;
  display: block;
  padding: 10px;
}

.footer a {
  text-decoration: none;
  color: white;
  font-family: 'Josefin Sans';
  font-weight: bold;


}*/

.card-img-container {
  display: flex;
  justify-content: center;
}


/*Boton para colapsar*/
.collapsible {
  background-color: #244b75;
  color: rgb(234, 239, 246);
  padding: 4px;
  width: 12%;
  text-align: center;
  outline: none;
  float: right;
  margin: 10px;
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
  overflow: hidden; /* Oculta cualquier contenido que exceda el tamaño del botón */
  text-overflow: ellipsis; 
  
}
/*Icono de lápiz*/
i{
  font-size: 24px;
}

.collapsible:after {
  content: '\002B';
  color: rgb(0, 0, 0);
  font-weight: bold;
  float: right;
  margin-left: 5px;
  
}


.active:after {
  content: "\2212";
}

/* Tabla editar*/
.content {
  padding: 0 30px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color:#f3f8fa;
  border-radius: 5%;

  
}

.profile-info {
  margin-bottom: 10px;
}

.profile-info-label {
  font-weight: bold;
}

.profile-info-value {
  display: inline-block;
  margin-right: 10px;
}

.form-group {
  margin-bottom: 10px;
}

.form-group label {
  display: block;
  font-weight: bold;
}

.form-group input[type="text"] {
  width: 100%;
  padding: 5px;
}

.center {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.save-button {
  width: 120px;
}