
/*Estilos del carousel*/

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex
}

@media (min-width: 768px) {  /*768px*/

    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(25%)
    }

    .carousel-inner .carousel-item-start.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-25%)
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
    transform: translateX(0)
}

.containerCarouselPaginaPrincipal{
    margin-top: 5%;
    background: linear-gradient(to top, #09203f 0%, #537895 100%);
}
/*espaciado entre las cards*/

.card{
    margin-left: 15px;
    margin-right: 15px;
}

.img{
 max-width: 80%;
    
}

/*Estilos del body y del container general(carousels & actividad reciente)*/
body{
    /* background-color:#0D1925 ; */
    /* background: linear-gradient(65.5deg, rgb(23, 205, 205) -15.1%, rgb(23, 25, 95) 71.5%); */
    /* background: linear-gradient(to top, #09203f 0%, #537895 100%); */
    background-image: url("../imgs/123.jpg");
    background-size: cover;
}

.containerGeneral{
    font-family: 'Josefin Sans';
    /* font-weight: bold; */
    color: white;
    
}



/* estilos del container del carousel de las novedades*/
.containerCarouselPaginaPrincipal{
    margin-top:10%;
    /* background-color: #1D3C5E; */
    padding: 2%;
    background: linear-gradient(to top, #09203f 0%, #537895 100%);
}

/*estilos container del carousel de la biblioteca*/
.containerCarouselBiblioteca{
    margin:5%;
    /* background-color: #1D3C5E; */
    padding: 2%;
    border-radius: 21px;
    background: linear-gradient(to top, #09203f 0%, #537895 100%);
}


/*estilos container superior de actividad reciente*/

.containerActividadReciente{
    margin:5%
    
}
/*estilos de las cajas de actividad reciente*/

.containerBoxesActividadReciente{
    margin-left: 5%;
    margin-right: 5%;
}
.box{
    /* background-color: #1D3C5E; */
    background: linear-gradient(to top, #09203f 0%, #537895 100%);
    padding: 2%;
    border-radius: 21px;
    margin: 3%;
    text-align: justify;
    font-size: 24px;
}
.redondearImgBox{
    border-radius: 50px;
}




@media(max-width: 600px ){ .controlSize {
    max-width:30%;
  }
  
}

@media(max-width: 600px ){ 
    .containerCarouselPaginaPrincipal{
        margin-top:20%;
    }
  
}


