/*estilos barra de navegación*/


.containerCarousel{
    width: 90%;
    background-color:#1D3C5E;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 52px;
    padding-bottom: 25px;
}



.footer{

    background-color: #1D3C5E;
    text-align: center;
    }


.slide{

    margin-top: 10px;
    margin-bottom: 10px;
}

.slide img{
    height: 65vh;

}

.navbar-light {
    background-color:#1D3C5E;
    
  }

  .navbar-nav {
    margin-left: auto;
  }

  #navbarNav{
    padding-right: 50px;
  }

  body {
    background-image: url("../imgs/background.png");
    
   }

    .navbar-text, .navbar-brand, .nav-link, #homeText{
    color: white;
  }


  .nameDeveloper{
    color: white;
  }

  .imageTextContainer{
    color:white;

  }

  .footer {
    display:block;
    bottom: 0;
    width: 100%;
    padding:10px;
  }

  .imageTextContainer{

    display: block;
    justify-content: center;
    align-items: center;
    
   
  }
  .imageTextContainer p{
    background-color: gray;
    border-radius: 30px;
  }


  .imageContainer{
    max-width: 100%;
    height:auto;
    overflow: hidden;
    padding: 20px;
    margin: auto;
  }


  .imageContainer img{
    
    height:auto;
    display:block;
    object-position: center;
    max-height:50%;
    max-width: 50%;
    margin: auto;
  }

  .imageTextContainer{
    width:100%;
    padding: 60px;
  }
  .imageTextContainer p{
    max-height:100%;
    max-width:100%;

  }

  .footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height:auto
    
  }
  .footer a{
    text-decoration: none;
    color: white;
    
  }
  
  .carousel-control-next-icon{
    margin-left: 60px;
  }

  .carousel-control-prev-icon{
    margin-right: 60px;
  }
  
  .nameDeveloper{
    padding-top: 10px;
  }


  .carousel .carousel-indicators button {
    width:10px;
    height:10px;
    border-radius: 50%;
}
