/*Cuerpo de toda la pagina y fondo*/
body{
    background-color: rgb(198, 198, 234);
    background-image: url("../imgs/background.png");
    padding-bottom: 40px;
    
}
/*Barra de navegacion*/
  .navbar-light {
    background-color: #1D3C5E;
    font-family: 'Josefin Sans', sans-serif;
  }
  
  .navbar-brand {
    color: white;
    font-weight: 600;
  }
  
  .nav-link {
    color: white;
    font-weight: 400;
  }
  
  #linkNavegación {
    font-weight: 100;
  }
  
  .navbar-light .navbar-toggler-icon {
    filter: invert(100%);
  }

  



/* Parte de body, formulario*/

h2{
    font-size: 24px;color: antiquewhite;
    text-align: center;
    margin-block: 25px;
}
.containerFormulario{
   background-color:#1D3C5E;
   border-radius: 35px;
  
   padding-inline-start: 35px;
   
}


/*Boton del formulario*/
.btn {
    background-color:#000000;
    margin-bottom: 50px;
}
.btn:hover {
  background-color: #989898;
}

.containerGeneral{
    display: block;
    margin:35px;
  padding: 15px;
    
    
}

label{
    font-family: 'Josefin Sans';
    color: aliceblue;    
}


/* Diseño terminos y condiciones*/
.contenido{  
    background-color:#1359a4 ;
      padding: 20px;
    border-radius: 25px;
    margin: 70px;   
    text-align: justify;
  }     

p{
    font-family: 'Josefin Sans';
    font-weight: bold;
    color: white;
}


/*Pie de pagina*/
.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height:auto;
  }

.containerFooter{
    background-color:#1D3C5E;
    font-size: 24px;color: aliceblue;
    text-align: center;   
}
