/* Estilo de las tarjetas */
.card {
  max-width: 100%;
}

@media (min-width: 410px) {
  .card {
    max-width: 50%;
  }

}


/* Estilo navbar */

.navbar-light {
  background-color: #1D3C5E;
  font-family: 'Josefin Sans', sans-serif;
}

.navbar-brand {
  color: white;
  font-weight: 600;
}

.nav-link {
  color: white;
  font-weight: 400;
}

#linkNavegación {
  font-weight: 100;
}

.navbar-light .navbar-toggler-icon {
  filter: invert(100%);
}

/* Estilo cuerpo */

body {
  background-color: #0D1925;
  padding-bottom: 40px;
}

.imagenPrincipal {
  margin-left: 20px;
  height: 500px;
}

/* Estilo búsqueda */
.container {
  margin-top: 20px;
}

.form-control.me-2 {
  padding: 5px;
}


