body {
    background-image: url("../imgs/background.jpg");
    background-size: cover;
}



/* Este codigo genera una capa de opacidad sobre nuestro background para que sea mas visible nuestro titulo de formulario */
body::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* el modificar este ultimo valor de rgba modifica la opacidad */
    z-index: -1;
}



/* Esta es nuestra clase de nuestro titulo de formulario "Registro de libros" */
.text-white {
    text-align: center;
}